Flask==3.0.3
python-dotenv==1.0.1
Werkzeug==3.0.3
Flask>=2.0
flask-cors
tensorflow>=2.11
pandas
scikit-learn
pytesseract
Pillow
numpy
joblib
gunicorn
python-dotenv
requests
nltk
tqdm
Flask-Login
Flask-SQLAlchemy
